.title-wrapper {
    .hero-title {
        color: $color-white;
    }
    .subtitle {
        color: #F8F7F2;

    }
}

.para-text {
    color: $color-text;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
}